*,::before,::after{
	margin: 0;
	padding: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
div{
	border-radius: 3px;
}
body,html{
	background: #fce8c5;
}

/*顶部样式*/
#top{
	text-align: center;
	height: 60px;
	line-height: 60px;
	color: #574535;
	background: #b5c295;
	margin-top: 10px;
	box-shadow: 0 2px 5px 0 #a09c88;
}
/*内容区域*/
#wrap{
	padding: 0 5%;
	position: relative;
	width: 100%;
	padding-top: 30px;
}
/*左边内容块*/
#wrap-l{
	width: 36%;
	padding: 2%;
	color: #574535;
	border-radius: 5px;
	background: #f8f1e6;
}
#wrap-l h3{
	margin: 10px 0;
}
#wrap-l li{
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	padding-left: 5%;
	border-radius: 6px;
}
.selected{
	background: #e89b9f;
}
/*右边内容块*/
#wrap-r{
	width: 60%;
	float: right;
	padding: 2%;
	border-radius: 5px;
	background: #f8f1e6;
}
.active{
	display: block;
}
.hide{
	display: none;
}
#wrap-r>div::after{
	content: "";
	clear: both;
	display: table;
}
.item{
	float: left;
	margin: 8px;
	width: 150px;
	height: 150px;
	border: 1px solid #e89b9f;
	background: no-repeat;
	background-size: 130px 130px;
	background-position: center center;
	border-radius: 5px;
}
.item:hover{
	box-shadow:0 0 0 1px #e89b9f;
}
.item>a{
	display: inline-block;
	width: 150px;
	height: 150px;
	position: relative;
}
.item>a>p{
	width: 99%;
	height: 36px;
	padding-left:10px;
	line-height: 40px;
	position: absolute;
	bottom: 1px;
	background: rgba(222,155,159,0.8);
	color: #2d2f22;
	font-size: 14px;
	border-radius: 0 0 5px 5px;
}
#wrap-r>div .item:nth-of-type(1){
	width: 316px;
	height: 316px;
	background-size: 296px 296px;
	background-position: center center; 
}
#wrap-r>div .item:nth-of-type(1)>a{
	width: 316px;
	height: 316px;
}